<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionstr"
             connectionString="Data Source=Desktop-LRM3QDC\SQLEXPRESS;Initial Catalog=StudentManagement;Persist Security Info=True;User ID=Guestuser;Password=vat@1234"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>